<h3 class="post-text title" id="title" data-id="title">
  <%= post.get('title') %>
</h3>
<input data-id="title" class="title hidden edit"
      type="text" value="<%= post.get('title') %>">
<p class='post-text body' id="body" data-id="body">
  <%= post.get('body') %>
</p>
<input data-id="body" class="hidden body edit"
      type="text" value="<%= post.get('body') %>">
<br><br>
<a href="#">Back to Index</a>